.v-navigation-drawer #layoutDrawer {
  background: rgba(27,27,27,.74);
}

.v-content__wrap {
  background-color: var(--v-background-base);
}

.fullscreen {
  background-color: var(--v-background-base) !important;
}
